development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: village_lisiting
  suffix: development
  username:
  password:
  district: Lilongwe
  ta: Chadza  
  village: Mtema

test:
  <<: *development
  suffix: test

